.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.head:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 864px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    height: 720px;
    flex-shrink: 0;
  }
}
.imageContainer {
  display: block;
  width: 100%;
  height: 864px;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageContainer {
    top: 0px;
    position: absolute;
    left: 0px;
    height: 720px;
    flex-shrink: 0;
  }
}
.img___5JBmP {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___5JBmP > picture > img {
  object-fit: cover;
}
.img___5JBmP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
}
.img__glzHc {
  object-fit: cover;
  max-width: 100%;
}
.img__glzHc > picture > img {
  object-fit: cover;
}
.img__glzHc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__uEx0 {
  object-fit: cover;
  max-width: 100%;
}
.img__uEx0 > picture > img {
  object-fit: cover;
}
.img__uEx0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ruv7S {
  object-fit: cover;
  max-width: 100%;
}
.img__ruv7S > picture > img {
  object-fit: cover;
}
.img__ruv7S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.heroTitle {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: var(--token-LblEU0oFI);
  background: none;
  min-width: 0;
}
.heroTitle > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.heroTitle > :global(.__wab_flex-container) > *,
.heroTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroTitle > :global(.__wab_flex-container) > picture > img,
.heroTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroTitle {
    background: linear-gradient(0deg, #0c4627 13%, #0c462700 100%) 0% 0% / 100%
      100% repeat;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.col2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: var(--token-ovKjHZVyx);
  height: auto;
  max-width: 100%;
}
.h6__tHXac {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  color: #ffffff;
  letter-spacing: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 0;
}
.h1___4Un8U {
  font-family: "Pacifico";
  color: #ffffff;
  text-align: center;
}
.span {
  width: 100%;
  min-width: 0;
}
.h6___31Omm {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  color: #ffffff;
  letter-spacing: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 0;
}
.heroDateTime:global(.__wab_instance) {
  position: relative;
}
.h6__jghE {
  color: #ffffff;
}
.h4 {
  color: #ffffff;
  font-weight: 700;
}
.h6__vvdBv {
  color: #ffffff;
}
.details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background: #ffffff;
  min-width: 0;
}
.row {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80rem;
  padding-left: var(--token-Zw7fJp9RW);
  padding-right: var(--token-Zw7fJp9RW);
  min-width: 0;
}
.row > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.row > :global(.__wab_flex-container) > *,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row > :global(.__wab_flex-container) > picture > img,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .row {
    padding-right: var(--token-Zw7fJp9RW);
    padding-left: var(--token-Zw7fJp9RW);
  }
}
.title {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.h1___6KhMk {
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) padding-box
    /* clip: text **/;
  line-height: 2;
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  min-width: 0;
}
.h5 {
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) padding-box
    /* clip: text **/;
  line-height: 2;
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: -24px;
  background-clip: text;
  -webkit-background-clip: text;
  min-width: 0;
}
.detailsPengantin {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.detailsPengantin > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.detailsPengantin > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.detailsPengantin > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin > :global(.__wab_flex-container) > *,
  .detailsPengantin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .detailsPengantin > :global(.__wab_flex-container) > picture > img,
  .detailsPengantin
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 32px;
  }
}
.colPria {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.brideCard__oGbhT:global(.__wab_instance) {
  position: relative;
}
.h4__mkRvD {
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) padding-box
    /* clip: text **/;
  line-height: 2;
  font-weight: 400;
  width: 100%;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  min-width: 0;
}
.text__h0Fw {
  font-size: var(--token-66xnIBv0-);
}
.img__dC6Hf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin-bottom: 0;
}
.img__dC6Hf > picture > img {
  object-fit: cover;
}
.img__dC6Hf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.colWanita {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.brideCard__oxJst:global(.__wab_instance) {
  position: relative;
}
.h4__qlFl {
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) padding-box
    /* clip: text **/;
  line-height: 2;
  font-weight: 400;
  width: 100%;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  min-width: 0;
}
.text__w1ZeW {
  font-size: var(--token-66xnIBv0-);
}
.img__kaWt0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin-bottom: 0;
}
.img__kaWt0 > picture > img {
  object-fit: cover;
}
.img__kaWt0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.greetings {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50rem;
  padding-top: var(--token-29cMIwjGl);
  min-width: 0;
}
.greetings > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.greetings > :global(.__wab_flex-container) > *,
.greetings > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.greetings > :global(.__wab_flex-container) > picture > img,
.greetings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__vaTrz {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__vVpXe {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.eventDateTime {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.eventDateTime > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.eventDateTime > :global(.__wab_flex-container) > *,
.eventDateTime > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.eventDateTime > :global(.__wab_flex-container) > picture > img,
.eventDateTime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.dateTimeWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 30rem;
  min-width: 0;
}
.text__kZqd4 {
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: left;
  flex-shrink: 0;
}
.text__tyMno {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-right: 8px;
}
.dateWrapper {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  min-width: 0;
}
.dateWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.dateWrapper > :global(.__wab_flex-container) > *,
.dateWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dateWrapper > :global(.__wab_flex-container) > picture > img,
.dateWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.slotTargetDate {
  text-align: left;
  font-weight: 700;
}
.slotTargetMonth {
  text-align: left;
  font-weight: 700;
}
.slotTargetYear {
  text-align: left;
  font-weight: 700;
}
.timeWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 30rem;
  min-width: 0;
}
.text__yzBM {
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: left;
  flex-shrink: 0;
}
.text__p5YmD {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-right: 8px;
}
.timeWrapper2 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTime {
  text-align: left;
  font-weight: 700;
}
.addressWrapperContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 30rem;
  min-width: 0;
}
.text__i4ESu {
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: left;
  flex-shrink: 0;
}
.text__gnjgm {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-right: 8px;
}
.addressWrapper {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetAddress {
  text-align: left;
  font-weight: 700;
}
.closing {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.closing > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.closing > :global(.__wab_flex-container) > *,
.closing > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.closing > :global(.__wab_flex-container) > picture > img,
.closing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__gyPcT {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.h1__eJfhZ {
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) padding-box
    /* clip: text **/;
  line-height: 2;
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  min-width: 0;
}
.gallery {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background: #ffffff;
  min-width: 0;
}
.title2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: var(--token-ovKjHZVyx);
  padding-bottom: 5rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .title2 {
    padding-left: var(--token-Zw7fJp9RW);
    padding-right: var(--token-Zw7fJp9RW);
  }
}
.h1__rkeGi {
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) padding-box
    /* clip: text **/;
  line-height: 2;
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  min-width: 0;
}
.text__zfzkj {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.youtubeWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80rem;
  height: auto;
  max-width: 100%;
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.freeBox__uUeMv {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 80rem;
  height: auto;
  max-width: 100%;
  padding-top: 5rem;
  padding-bottom: var(--token-LblEU0oFI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uUeMv {
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    padding-left: var(--token-Zw7fJp9RW);
    padding-right: var(--token-Zw7fJp9RW);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.freeBox__uocpc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__iIpP8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  max-width: 100%;
  overflow: hidden;
  filter: none;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iIpP8 {
    width: 100%;
    height: 150px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.img__qItLu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  width: 300px;
  height: 250px;
  filter: blur(5px);
  flex-shrink: 0;
}
.img__qItLu > picture > img {
  object-fit: cover;
}
.img__qItLu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.antdImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.audioWidget {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: var(--token-ovKjHZVyx);
  height: auto;
  max-width: 100%;
  padding-top: var(--token-LblEU0oFI);
}
.audioPlayer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.maps {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background: #001712;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .maps {
    padding-left: var(--token-Zw7fJp9RW);
    padding-right: var(--token-Zw7fJp9RW);
  }
}
.iframe__mbG1:global(.__wab_instance) {
  width: 1280px;
  height: 399px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.buttonWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80rem;
  height: auto;
  max-width: 100%;
  padding-top: 5rem;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__tg6VS {
  position: relative;
  color: #000000;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%);
  cursor: pointer;
  border-radius: 12px;
  padding: 16px 24px;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #001712;
  padding-top: var(--token-qxFJELq_O);
  padding-bottom: var(--token-qxFJELq_O);
  min-width: 0;
}
.freeBox___15Xxw {
  flex-direction: row;
  display: flex;
  position: relative;
  width: var(--token-ovKjHZVyx);
  height: auto;
  max-width: 100%;
}
.freeBox___15Xxw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___15Xxw > :global(.__wab_flex-container) > *,
.freeBox___15Xxw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___15Xxw > :global(.__wab_flex-container) > picture > img,
.freeBox___15Xxw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__qnetc {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
}
.link {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
}
