.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #0000001a;
  position: relative;
  min-width: 0;
  padding: 16px 32px;
}
.alingLeft {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.logo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  padding-right: 24px;
}
.h5 {
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #ff3784 0%, #725dff 100%) padding-box
    /* clip: text **/;
  line-height: 150%;
  font-weight: 400;
  width: auto;
  height: auto;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
}
.navMenu {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.navMenu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.navMenu > :global(.__wab_flex-container) > *,
.navMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navMenu > :global(.__wab_flex-container) > picture > img,
.navMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navMenu {
    display: none;
  }
}
.tentangKami {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  color: #000000;
}
.text__if0Pi {
  position: relative;
  white-space: pre;
  color: #0a0c2d;
}
.faq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  color: #000000;
}
.text___12OzW {
  position: relative;
  color: #0a0c2d;
}
.harga {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  color: #000000;
}
.text__i7ZxI {
  position: relative;
  color: #0a0c2d;
}
.alingRigth {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.tombolCinta:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tombolCinta:global(.__wab_instance) {
    display: none;
  }
}
.button {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  display: none;
  padding: 8px;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button {
    display: flex;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.menubarCollapse:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  width: 100%;
  left: auto;
  top: 80px;
  right: 0px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
}
.menubarCollapseisCollapse:global(.__wab_instance) {
  height: auto;
  width: auto;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:focus-within .menubarCollapse:global(.__wab_instance) {
    height: 100vh;
    display: flex;
    outline: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:active .menubarCollapse:global(.__wab_instance) {
    height: 100vh;
    display: flex;
  }
}
.link___3Pcx8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ginIy {
  position: relative;
}
.link__uQkXw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__uf4Vv {
  position: relative;
}
.link___1ViJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___0Y31Z {
  position: relative;
}
