.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 720px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.imageContainer {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
}
.img__t4FxX {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  min-width: 0;
}
.img__t4FxX > picture > img {
  object-fit: cover;
}
.img__t4FxX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.heroTitle {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 5rem;
  background: linear-gradient(0deg, #0c4627 13%, #0c462700 100%) 0% 0% / 100%
    100% repeat;
  min-width: 0;
}
.heroTitle > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.heroTitle > :global(.__wab_flex-container) > *,
.heroTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroTitle > :global(.__wab_flex-container) > picture > img,
.heroTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h6__yidOo {
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: 4px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50rem;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.h1 {
  font-size: 3rem;
  line-height: 200%;
  letter-spacing: normal;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-family: "Pacifico";
  color: #ffffff;
  min-width: 0;
}
.slotTargetChildren {
  text-align: center;
}
.h6___4LbFi {
  font-size: 0.63rem;
  line-height: 150%;
  letter-spacing: 4px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.freeBox__phdNj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.freeBox__phdNj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__phdNj > :global(.__wab_flex-container) > *,
.freeBox__phdNj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__phdNj > :global(.__wab_flex-container) > picture > img,
.freeBox__phdNj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.p__jjwSr {
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: normal;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  min-width: 0;
}
.slotTargetBulan {
  font-family: "Poppins", sans-serif;
  text-align: right;
}
.h3 {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: normal;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}
.slotTargetTanggal {
  font-family: "Poppins", sans-serif;
}
.p___9G9Nb {
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: normal;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  min-width: 0;
}
.slotTargetTahun {
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 9rem;
  padding-bottom: 9rem;
  min-width: 0;
}
.col {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80rem;
  min-width: 0;
}
.title {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.text__k47Nj {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__bizXz {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.detailsPengantin {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.detailsPengantin > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.detailsPengantin > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.colPria {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img___3QbrX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}
.img___3QbrX > picture > img {
  object-fit: cover;
}
.img___3QbrX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.priaDetailsWrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.priaDetailsWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.priaDetailsWrapper > :global(.__wab_flex-container) > *,
.priaDetailsWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.priaDetailsWrapper > :global(.__wab_flex-container) > picture > img,
.priaDetailsWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.h6__jZz8W {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: normal;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-family: "Pacifico";
  min-width: 0;
}
.slotTargetNamaPria {
  text-align: center;
}
.text__fwAbN {
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: normal;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.p__vy9Rd {
  font-size: 0.88rem;
  line-height: 150%;
  letter-spacing: normal;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetOrtuPria {
  text-align: center;
}
.p___9WdA7 {
  font-size: 0.63rem;
  line-height: 150%;
  letter-spacing: normal;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetAlamatPria {
  text-align: center;
}
.colWanita {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img___8CXoW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}
.img___8CXoW > picture > img {
  object-fit: cover;
}
.img___8CXoW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.priaDetailsWrapper2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.priaDetailsWrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.priaDetailsWrapper2 > :global(.__wab_flex-container) > *,
.priaDetailsWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.priaDetailsWrapper2 > :global(.__wab_flex-container) > picture > img,
.priaDetailsWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.h6___630JH {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: normal;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-family: "Pacifico";
  min-width: 0;
}
.slotTargetNamaPria2 {
  text-align: center;
}
.text__mUjfD {
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: normal;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.p__ayBzi {
  font-size: 0.88rem;
  line-height: 150%;
  letter-spacing: normal;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetOrtuWanita {
  text-align: center;
}
.p__c9QmR {
  font-size: 0.63rem;
  line-height: 150%;
  letter-spacing: normal;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetAlamatWanita {
  text-align: center;
}
.greetings {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.text__jEfIw {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text___1OHhX {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.eventDateTime {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.dateTimeWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 30rem;
  min-width: 0;
}
.text__jwdWz {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.text__nosg0 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.dateWrapper {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  min-width: 0;
}
.dateWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.dateWrapper > :global(.__wab_flex-container) > *,
.dateWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dateWrapper > :global(.__wab_flex-container) > picture > img,
.dateWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.slotTargetDate {
  text-align: left;
}
.slotTargetMonth {
  text-align: left;
}
.slotTargetYear {
  text-align: left;
}
.timeWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 30rem;
  min-width: 0;
}
.text___9DSTt {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.text__zm7F {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.timeWrapper2 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTime {
  text-align: left;
}
.addressWrapperContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 30rem;
  min-width: 0;
}
.text__f8Qf {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.text___0Bmt7 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.addressWrapper {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetAddress {
  text-align: left;
}
.closing {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.text__rfKky {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__p7HZz {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.gallery {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 9rem;
  padding-bottom: 9rem;
  min-width: 0;
}
.title2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
}
.text__yXnJ {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__twOo7 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.freeBox___7QCjG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80rem;
  height: auto;
  max-width: 100%;
  padding-top: 5rem;
}
.youTube__a13Xj:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.freeBox___9Todx {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 80rem;
  height: auto;
  max-width: 100%;
  padding-top: 5rem;
}
.freeBox__jxbOx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___8Xvr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 250px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  padding: 8px;
}
.antdImage__aVTev:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.audioPlayer__ihTG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.maps {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background: #001712;
  min-width: 0;
}
.iframe__mKseR:global(.__wab_instance) {
  width: 1280px;
  height: 399px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.buttonWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80rem;
  height: auto;
  max-width: 100%;
  padding-top: 5rem;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.link__g8QWv {
  position: relative;
  padding: 16px 24px;
}
