.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox___1Aw2D {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #0000000d;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  padding: 0px;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: var(--token-cRiS1Siki);
  object-fit: cover;
  padding: 16px 32px;
}
.link___1NUag {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__bpJuC {
  object-fit: cover;
  height: 40px;
}
.img__bpJuC > picture > img {
  object-fit: cover;
}
.img__bpJuC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___22Rru {
  object-fit: cover;
}
.img___22Rru > picture > img {
  object-fit: cover;
}
.img___22Rru > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__x1BI {
  object-fit: cover;
}
.img__x1BI > picture > img {
  object-fit: cover;
}
.img__x1BI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__jmajm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__xom55 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__fzjmP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link___4CugS {
  display: flex;
}
.tombolCinta__yrwp2:global(.__wab_instance) {
  max-width: 100%;
}
.header {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: var(--token-LblEU0oFI);
  min-width: 0;
}
.header > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal__ap9FL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns__dAsKi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  max-width: var(--token-cRiS1Siki);
  min-width: 0;
}
.columns__dAsKi > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__dAsKi > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dAsKi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dAsKi > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lCuwH {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__lCuwH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__lCuwH > :global(.__wab_flex-container) > *,
.column__lCuwH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lCuwH > :global(.__wab_flex-container) > picture > img,
.column__lCuwH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__lLx6J {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__lLx6J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lLx6J > :global(.__wab_flex-container) > *,
.freeBox__lLx6J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lLx6J > :global(.__wab_flex-container) > picture > img,
.freeBox__lLx6J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h1__t9FK8 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 700;
  color: #0a0c2d;
  min-width: 0;
}
.dd___7AAcH {
  position: relative;
  width: 500px;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: #b6b4bc;
}
.freeBox__xj8Yc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xj8Yc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__xj8Yc > :global(.__wab_flex-container) > *,
.freeBox__xj8Yc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xj8Yc > :global(.__wab_flex-container) > picture > img,
.freeBox__xj8Yc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xj8Yc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xj8Yc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xj8Yc > :global(.__wab_flex-container) > *,
  .freeBox__xj8Yc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xj8Yc > :global(.__wab_flex-container) > picture > img,
  .freeBox__xj8Yc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.link__xgmtr {
  position: relative;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xgmtr {
    width: 100%;
    min-width: 0;
  }
}
.tombolCinta__cmga5:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tombolCinta__cmga5:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.link___37P78 {
  position: relative;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___37P78 {
    width: 100%;
    min-width: 0;
  }
}
.tombolCinta__uGjeo:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tombolCinta__uGjeo:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__rd5T0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-Zw7fJp9RW);
  min-width: 0;
}
.freeBox__rd5T0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__rd5T0 > :global(.__wab_flex-container) > *,
.freeBox__rd5T0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rd5T0 > :global(.__wab_flex-container) > picture > img,
.freeBox__rd5T0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.udangan {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h3__lDkzc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ff8054;
  font-weight: 700;
  min-width: 0;
}
.text__xIKX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #b6b4bc;
  min-width: 0;
}
.udangan2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h3__p4Vqh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ff8054;
  font-weight: 700;
  min-width: 0;
}
.text__uluIo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #b6b4bc;
  min-width: 0;
}
.column___40O0S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___40O0S {
    display: none;
  }
}
.img__wjx6R {
  position: relative;
  object-fit: cover;
  max-width: 70%;
}
.img__wjx6R > picture > img {
  object-fit: cover;
}
.img__wjx6R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__sWvd1 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: -1;
  width: 60%;
}
.img__sWvd1 > picture > img {
  object-fit: cover;
}
.img__sWvd1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.about {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #f5f7fb;
  min-width: 0;
  padding: var(--token-sR5VoODU8) 0px;
}
.about > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.about > :global(.__wab_flex-container) > *,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.about > :global(.__wab_flex-container) > picture > img,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.row {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-cRiS1Siki);
  min-width: 0;
  padding: 0px 32px;
}
.row > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.row > :global(.__wab_flex-container) > *,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row > :global(.__wab_flex-container) > picture > img,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.columns__cyDe6 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  background: none;
  min-width: 0;
  border-radius: 24px;
}
.columns__cyDe6 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__cyDe6 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__cyDe6 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__cyDe6 > :global(.__wab_flex-container) > *,
.columns__cyDe6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__cyDe6 > :global(.__wab_flex-container) > picture > img,
.columns__cyDe6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cyDe6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cyDe6 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cyDe6 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
.column__qaVd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qaVd {
    display: none;
  }
}
.reveal__kTiUd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img___7OA6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60%;
}
.img___7OA6 > picture > img {
  object-fit: cover;
}
.img___7OA6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__d49Yd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__d49Yd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__d49Yd > :global(.__wab_flex-container) > *,
.column__d49Yd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__d49Yd > :global(.__wab_flex-container) > picture > img,
.column__d49Yd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.reveal__dhjFe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__dhjFe:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__ehkTt {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ehkTt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ehkTt > :global(.__wab_flex-container) > *,
.freeBox__ehkTt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ehkTt > :global(.__wab_flex-container) > picture > img,
.freeBox__ehkTt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h1__cizVw {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 700;
  color: #0a0c2d;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__cizVw {
    font-size: 2.5rem;
  }
}
.dd__xs1Wz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: #b6b4bc;
  font-size: 1rem;
  line-height: 150%;
  min-width: 0;
}
.freeBox__cjmw0 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
  padding: var(--token-Zw7fJp9RW) 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cjmw0 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.item {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.item > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.item > :global(.__wab_flex-container) > *,
.item > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.item > :global(.__wab_flex-container) > picture > img,
.item > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.text__gbPhc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1.5rem;
  font-weight: 600;
}
.text__yNIj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1rem;
  font-weight: 600;
}
.item2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.item2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.item2 > :global(.__wab_flex-container) > *,
.item2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.item2 > :global(.__wab_flex-container) > picture > img,
.item2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.text__pthRt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1.5rem;
  font-weight: 600;
}
.text__ggDgx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.item3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.item3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.item3 > :global(.__wab_flex-container) > *,
.item3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.item3 > :global(.__wab_flex-container) > picture > img,
.item3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.text__m5SEj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1.5rem;
  font-weight: 600;
}
.text___3I8JH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.item4 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.item4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.item4 > :global(.__wab_flex-container) > *,
.item4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.item4 > :global(.__wab_flex-container) > picture > img,
.item4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.text__nmNfm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1.5rem;
  font-weight: 600;
}
.text__imXr5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.link__eTxF1 {
  position: relative;
  display: flex;
  padding-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__eTxF1 {
    width: 100%;
    min-width: 0;
  }
}
.tombolCinta__hm9PO:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tombolCinta__hm9PO:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.feature {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  min-width: 0;
  padding: var(--token-sR5VoODU8) 0px;
}
.feature > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.feature > :global(.__wab_flex-container) > *,
.feature > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.feature > :global(.__wab_flex-container) > picture > img,
.feature
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.row2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-cRiS1Siki);
  min-width: 0;
  padding: 0px 32px;
}
.row2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.row2 > :global(.__wab_flex-container) > *,
.row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row2 > :global(.__wab_flex-container) > picture > img,
.row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.reveal___5N3TF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.title {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.title > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.h1___2FnT {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 700;
  color: #0a0c2d;
  min-width: 0;
}
.dd___3Hf3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #b6b4bc;
  font-size: 1rem;
  line-height: 150%;
  min-width: 0;
}
.reveal___5F4Zh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___5F4Zh:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__q1L7Y {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  padding-top: var(--token-Zw7fJp9RW);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q1L7Y {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__wzRp4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.fiturCard__cYwMw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hdr3A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 32px;
  width: 32px;
}
.freeBox__bg4H6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.fiturCard___85HQg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hqga8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 32px;
  width: 32px;
}
.freeBox__dBsfI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.fiturCard__uIdYf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__iYf8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 32px;
  width: 32px;
}
.freeBox__rqiu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.fiturCard__jo0XM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uGb3J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 32px;
  width: 32px;
}
.freeBox___2Cdml {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.fiturCard__bCdyc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eKrmg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 32px;
  width: 32px;
}
.freeBox__opkZa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.fiturCard__rgvl7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jvBuS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 32px;
  width: 32px;
}
.freeBox__ou9V8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  min-width: 0;
}
.link___69CYx {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___69CYx {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .tombolCinta__kytll:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.price {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  min-width: 0;
  padding: var(--token-sR5VoODU8) 0px;
}
.price > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.price > :global(.__wab_flex-container) > *,
.price > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.price > :global(.__wab_flex-container) > picture > img,
.price > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .price {
    padding-top: var(--token-qxFJELq_O);
    padding-bottom: var(--token-qxFJELq_O);
  }
}
.row3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-cRiS1Siki);
  min-width: 0;
  padding: 0px 32px;
}
.row3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.row3 > :global(.__wab_flex-container) > *,
.row3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row3 > :global(.__wab_flex-container) > picture > img,
.row3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.reveal__lqijz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.title2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.title2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.title2 > :global(.__wab_flex-container) > *,
.title2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title2 > :global(.__wab_flex-container) > picture > img,
.title2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h1__fjCBp {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 700;
  color: #0a0c2d;
  min-width: 0;
}
.dd__eTKg4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #b6b4bc;
  font-size: 1rem;
  line-height: 150%;
  min-width: 0;
}
.reveal__fb5QM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___7ZipU {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  padding-top: var(--token-Zw7fJp9RW);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7ZipU {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__vfsIu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___0YTJm:global(.__wab_instance) {
  position: relative;
}
.text__rooBm {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1rem;
  text-decoration-line: line-through !important;
}
.text__sqUn2 {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1rem;
}
.items {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items > :global(.__wab_flex-container) > *,
.items > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items > :global(.__wab_flex-container) > picture > img,
.items > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.text___5S2YK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text___8Ac0M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items2 > :global(.__wab_flex-container) > *,
.items2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items2 > :global(.__wab_flex-container) > picture > img,
.items2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__n8X7H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__naJb1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items3 > :global(.__wab_flex-container) > *,
.items3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items3 > :global(.__wab_flex-container) > picture > img,
.items3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__xBSot {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text___0DoDd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items4 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items4 > :global(.__wab_flex-container) > *,
.items4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items4 > :global(.__wab_flex-container) > picture > img,
.items4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text___5BaVn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__bWscD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__infz6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__viu9K:global(.__wab_instance) {
  position: relative;
}
.text___18CFh {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1rem;
  text-decoration-line: line-through !important;
}
.text__eEgOg {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1rem;
}
.items5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items5 > :global(.__wab_flex-container) > *,
.items5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items5 > :global(.__wab_flex-container) > picture > img,
.items5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text___0IYuz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text___5SeEc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items6 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items6 > :global(.__wab_flex-container) > *,
.items6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items6 > :global(.__wab_flex-container) > picture > img,
.items6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text___3Xudo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__yO5Fv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items7 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items7 > :global(.__wab_flex-container) > *,
.items7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items7 > :global(.__wab_flex-container) > picture > img,
.items7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__gN58 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__dj0WK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items8 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items8 > :global(.__wab_flex-container) > *,
.items8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items8 > :global(.__wab_flex-container) > picture > img,
.items8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__ry7X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__ablqO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items13 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items13 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items13 > :global(.__wab_flex-container) > *,
.items13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items13 > :global(.__wab_flex-container) > picture > img,
.items13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__ojUYj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__n5Dqd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items14 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items14 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items14 > :global(.__wab_flex-container) > *,
.items14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items14 > :global(.__wab_flex-container) > picture > img,
.items14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text___3KsG4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__eXxAn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items15 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items15 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items15 > :global(.__wab_flex-container) > *,
.items15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items15 > :global(.__wab_flex-container) > picture > img,
.items15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__k5OSx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__oiv2D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items16 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items16 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items16 > :global(.__wab_flex-container) > *,
.items16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items16 > :global(.__wab_flex-container) > picture > img,
.items16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__ujVzh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__gB94 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__n69Qg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__tqj3F:global(.__wab_instance) {
  position: relative;
}
.text___8LGxo {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1rem;
  text-decoration-line: line-through !important;
  display: none;
}
.text__xiPwr {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 1rem;
}
.items9 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items9 > :global(.__wab_flex-container) > *,
.items9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items9 > :global(.__wab_flex-container) > picture > img,
.items9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__aJqH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__eL2Pn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items10 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items10 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items10 > :global(.__wab_flex-container) > *,
.items10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items10 > :global(.__wab_flex-container) > picture > img,
.items10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__n8X7H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__naJb1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.items11 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items11 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items11 > :global(.__wab_flex-container) > *,
.items11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items11 > :global(.__wab_flex-container) > picture > img,
.items11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__xBSot {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text___0DoDd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items12 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.items12 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.items12 > :global(.__wab_flex-container) > *,
.items12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.items12 > :global(.__wab_flex-container) > picture > img,
.items12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text___5BaVn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__bWscD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.contact {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  min-width: 0;
  padding: var(--token-sR5VoODU8) 0px;
}
.contact > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.contact > :global(.__wab_flex-container) > *,
.contact > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contact > :global(.__wab_flex-container) > picture > img,
.contact
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact {
    padding-top: var(--token-Zw7fJp9RW);
    padding-bottom: var(--token-Zw7fJp9RW);
  }
}
.row4 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-cRiS1Siki);
  min-width: 0;
  padding: 0px 32px;
}
.row4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.row4 > :global(.__wab_flex-container) > *,
.row4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row4 > :global(.__wab_flex-container) > picture > img,
.row4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.reveal__e6Fon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.title3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  background: #0a0c2d;
  border-radius: 24px;
  padding: var(--token-LblEU0oFI);
}
.title3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.title3 > :global(.__wab_flex-container) > *,
.title3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title3 > :global(.__wab_flex-container) > picture > img,
.title3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .title3 {
    padding: var(--token-qxFJELq_O);
  }
}
.columns__k5ZX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__k5ZX > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__k5ZX > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k5ZX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k5ZX > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cjvgq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__cjvgq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__cjvgq > :global(.__wab_flex-container) > *,
.column__cjvgq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__cjvgq > :global(.__wab_flex-container) > picture > img,
.column__cjvgq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__f19S0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h4__fkKFy {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
.text__sJmYv {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 500;
  color: #ffffff;
  min-width: 0;
}
.link__qDi9E {
  position: relative;
  display: flex;
}
.tombolCinta__hMlpa:global(.__wab_instance) {
  max-width: 100%;
}
.column__b6GKr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__b6GKr {
    display: none;
  }
}
.img__yyrwe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 300px;
  margin-bottom: -70px;
}
.img__yyrwe > picture > img {
  object-fit: cover;
}
.img__yyrwe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.portfolio {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
  padding: var(--token-LblEU0oFI) 0px;
}
.portfolio > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.portfolio > :global(.__wab_flex-container) > *,
.portfolio > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.portfolio > :global(.__wab_flex-container) > picture > img,
.portfolio
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__z7Fjz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: var(--token-cRiS1Siki);
  padding-left: 32px;
  padding-right: 32px;
  min-width: 0;
}
.h4__aUc2G {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 700;
  color: #0a0c2d;
  min-width: 0;
}
.freeBox__hbbK {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hbbK {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.graphCmsFetcher:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.freeBox__sjCgq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__pFLzA {
  display: flex;
}
.graphCmsField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.partner {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: var(--token-LblEU0oFI) 0px;
}
.partner > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.partner > :global(.__wab_flex-container) > *,
.partner > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.partner > :global(.__wab_flex-container) > picture > img,
.partner
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__q2Q69 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: var(--token-ovKjHZVyx);
  height: auto;
  max-width: 100%;
}
.freeBox__q2Q69 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q2Q69 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q2Q69 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q2Q69 > :global(.__wab_flex-container) > *,
  .freeBox__q2Q69 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__q2Q69 > :global(.__wab_flex-container) > picture > img,
  .freeBox__q2Q69
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.svg___5Cvnz {
  position: relative;
  object-fit: cover;
  height: 72px;
  flex-grow: 1;
  width: 1em;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___5Cvnz {
    width: 100%;
    min-width: 0;
  }
}
.svg___453QJ {
  position: relative;
  object-fit: cover;
  height: 48px;
  flex-grow: 1;
  color: #b6b4bc;
  width: 1em;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___453QJ {
    width: 100%;
    min-width: 0;
  }
}
.svg__lH6Nj {
  position: relative;
  object-fit: cover;
  height: 26px;
  flex-grow: 1;
  color: #b6b4bc;
  width: 1em;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lH6Nj {
    width: 100%;
    min-width: 0;
  }
}
.footer {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: var(--token-Zw7fJp9RW);
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.columns__qcFqX {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: var(--token-cRiS1Siki);
  min-width: 0;
  padding: var(--token-qxFJELq_O) 32px;
}
.columns__qcFqX > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__qcFqX > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__qcFqX > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__qcFqX > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__qcFqX > :global(.__wab_flex-container) > *,
.columns__qcFqX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qcFqX > :global(.__wab_flex-container) > picture > img,
.columns__qcFqX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qcFqX {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qcFqX > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qcFqX > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
.column__ratQz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.logo2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 24px;
  min-width: 0;
}
.svg__ptWe5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 42px;
  width: 162px;
  color: #725dff;
  flex-shrink: 0;
}
.text__jt3L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #b6b4bc;
  min-width: 0;
}
.column__k6Gd4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h6__qb6Ou {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #b6b4bc;
  min-width: 0;
}
.ul {
  display: flex;
  position: relative;
  list-style-type: none;
  padding-left: 0px;
}
.li___9LOo {
  position: relative;
}
.li__ua9Q3 {
  position: relative;
}
.li___3RjK4 {
  position: relative;
}
.column__xqkOo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h6__srEbH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #b6b4bc;
  min-width: 0;
}
.text__r5Fr8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #0a0c2d;
  min-width: 0;
}
.text__m1Rdl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #0a0c2d;
  min-width: 0;
}
.freeBox__a59G {
  flex-direction: row;
  display: flex;
  position: relative;
  width: var(--token-ovKjHZVyx);
  height: auto;
  max-width: 100%;
}
.freeBox__a59G > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__a59G > :global(.__wab_flex-container) > *,
.freeBox__a59G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a59G > :global(.__wab_flex-container) > picture > img,
.freeBox__a59G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__twTIm {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #b6b4bc;
  text-align: center;
}
.link__qGmBn {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #b6b4bc;
  text-align: center;
}
